html, body {
    padding: 0;
    margin: 0;
}

#login {
    width: 100%;
    height: 100%;
}

#game {
    width: 100%;
    height: 100%;
}

#game canvas {
    width: 100%;
    height: 100%;
}

#game .fps {
    position: absolute;
    background-color: #FFFFFF;
    padding: 5px;
    color: #000000;
    font-weight: bold;
    right: 10px;
    bottom: 10px;
}